* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.title {
    color: white;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/a0/99/2a/a0992afa9c1f2b47db51d11f69c897f3.jpg);
background-size: cover;
background-position: center center;
display: flex;
font-size: 100px;
align-items: center;
justify-content: center;
text-align: center;
}
.container {
    padding: 30px;

}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
    transform: scale(0);
    transition: all 2s;
}
.active {
    opacity: 1;
    transform: scale(1);
}
.col-6 {
    width: 47%;
}